*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    box-sizing: inherit;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    padding: 4rem;
    background: #F7F7F7;
    font-family: 'Montserrat', sans-serif;
    color:#FFF;
}

.button{
    border: none;
    color: #fff;
    font-family: 'Montserrat' ,sans-serif;
    cursor: pointer;
    text-align: center;
}

.button--card{
    padding: 2rem 1rem;
    float: right;
}

.button--red{
    background: linear-gradient(180deg, #6CC04A 0%, #FF9D83 0.01%, #FA546C 100%);
}

.button--small{
    padding: 1rem 1.5rem;
}

.pageTitle{
    color: #212121;
    font-size: 4.5rem;
}

.blackFont{
    color: #212121;
}

.u-noLiStyle{
    list-style: none;
}

.card{
    background-image: linear-gradient(#C3A5E4, #837BC6);
    padding: 1rem 5rem 5rem;
    margin: 5rem;
    max-width: 60rem;
    margin: 2rem 0;
}

li, p{
    font-size: 1.5rem;
}

/* receptenpagina */

.receptKaart{
    grid-column: span 3;
    width: 100%;
    height: 35rem;
    box-shadow: 0 0 2rem #333;
    position: relative;
    background-color: #393E46;
    /* border: #F8B500 solid 1px; */
}

.receptKaart__header{
    width: 90%;
    margin: 0 auto;
    height: 20%;
}

.receptKaart__heading{
    /* padding-left: 2rem; */
    margin: 0 auto;
    text-align: center;
}

.receptKaart__figure{
    width: 100%;
    height: 60%;
}

.receptKaart__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.receptKaart__btnSection{
    height: 20%;
}

.receptKaart__button{
    margin: 0 auto;
    padding: 0.75rem 2.5rem;
    box-sizing: border-box;
    background-color: #F8B500;
    border: none;
    color: #393E46;
    box-shadow: 0 0 1.5rem #333;
    /* border-radius: 0.25rem; */
}

.receptKaart__button:hover{
    cursor:pointer;
}

@media(max-width: 62.5rem){
    .receptKaart{
        grid-column: span 4;
    }
}

@media(max-width: 52.5rem){
    .receptKaart{
        grid-column: span 6;
    }
}

@media(max-width: 32.5rem){
    .receptKaart{
        grid-column: span 12;
    }
}

/* Recept */

.recept{
    margin: 0 auto;
    width: 60%;
    box-shadow: 0 0 2rem #333;
    background-color: #393E46;
    /* border: #F8B500 solid 1px; */
}

.recept__header{
    width: 100%;
    height: 10rem;
}

.recept__heading{
    padding-left: 4rem;
}

.recept__figure{
    margin-left: 4rem;
    width: 60%;
    height: 35rem;
}

.recept__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 1.5rem #333;
}

.recept__section1, .recept__section2{
    display: flex;
}

.recept__informatie{
    width: 40%;
}

.recept__informatie__kaart{
    margin: 0 auto;
    width: 60%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    background-color: #5C636E;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem #333;
}

.recept__informatie__tekst{
    padding-top: 2rem;
}

.recept__btnSection{
    padding-top: 4rem;
}

.recept__button{
    margin: 0 auto;
    padding: 0.75rem 2.5rem;
    box-sizing: border-box;
    background-color: #F8B500;
    border: none;
    color: #393E46;
    box-shadow: 0 0 1.5rem #333;
    /* border-radius: 0.25rem; */
}

.recept__stop{
    display: none;
}

.receptKaart__button:hover{
    cursor:pointer;
}

.recept__timer{
    padding-top: 4rem;
}

.recept__timer__tekst{
    margin: 0 auto;
    width: 60%;
    padding: 1rem;
    text-align: center;
    background-color: #5C636E;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem #333;
}

.recept__ingredienten{
    width:40%;
    padding: 2rem;
    line-height: 2.5rem;
}

.recept__ingredienten__kaart{
    margin: 0 auto;
    width: 60%;
}

.recept__bereiden{
    width: 60%;
    padding-left: 4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    line-height: 2.2rem;
}

.recept__bereiden__heading, .recept__ingredienten__heading{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media(max-width: 70rem){
    .recept{
        width: 70%;
    }
}

@media(max-width: 62.5rem){
    .recept{
        width: 80%;
    }
}

@media(max-width: 52.5rem){
    .recept{
        width: 90%;
    }

    .recept__section1, .recept__section2{
        display: block;
    }

    .recept__ingredienten, .recept__bereiden{
        width: 90%;
    }

    .recept__ingredienten__kaart{
        margin: 0 ;
        padding-left: 2rem;
    }

    .recept__figure{
        margin: 0 auto;
        width: 84%;
    }

    .recept__informatie{
        display: flex;
        margin-left: 4rem;
        padding-top: 2rem;
        width: 80%;
    }

    .recept__informatie__kaart{
        margin: 0;
        width: 50%;
    }

    .recept__informatie__kaart2{
        padding-left: 4rem;
        width: 50%;
    }

    .recept__timer{
        padding-top: 2rem;
    }
    
    .recept__timer__tekst{
        margin: 0 auto;
        width: 100%;
        padding: 1rem;
        text-align: center;
        background-color: #5C636E;
        border-radius: 1rem;
        box-shadow: 0 0 1.5rem #333;
    }
}

@media(max-width: 32.5rem){
    .recept{
        width: 95%;
    }
}

/* Shopping list */

input[type=checkbox]:checked + label.isChecked{
    text-decoration: line-through;
    color: green;
}

/* utility classes */

.u-list-style-none{
    list-style: none;
}

.u-grid-12{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,minmax(0,1fr));
}

.u-grid-gap-2{
    gap: 2rem;
}

.u-flex-v-center{
    display: flex;
    align-items: center;

}

/*------------------------------ grid -------------------------- */
.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,minmax(0,1fr));
    grid-template-rows: repeat(12, minmax(0,1fr));
    column-gap: 1.5rem;

}

.grid__header{
    grid-column: span 6;
    grid-row: 1;
}

.grid__booschappenlijstCard{
    grid-column: 1 / 5;
    grid-row: 2 / 10;
}

.grid__toevoegen{
    grid-column: 5 / 9;
    grid-row: 4 / 10;
    gap: 5rem;
}

.grid__barcodeScannen{
    grid-column: 5 / 9;
    grid-row: 2 / 4;
    gap: 5rem;
}

.grid__userToevoegen{
    grid-column: 9 / 13;
    grid-row: 2 / 4;
    gap: 5rem;
}


/* ---------------------------- desk ---------------------------- */

:root {
    --background: #eaeaea;
    --red: #ff2e63;
    --black: #252a34;
    --blue: #08d9d6;
  }

.desktimer{
    width: 100%;
    height: 100%;
    background-color: var(--background);
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    grid-template-rows: repeat(3, minmax(0,1fr));
}

.desktimer__status{
    font-size: 9rem;
    grid-column: 2 / span 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.desktimer__button{
    width: 50%;
    height: 50%;
    margin: auto;
}

.u-desk-grid-button{
    grid-row: 3;
    grid-column: 2 / span 2;
}


