*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    box-sizing: inerit;
    font-size: 62.5%;
    font-family: sans-serif;
}

/* kleurenpallet: https://colorhunt.co/palette/17117 */

:root {
    --background: #eaeaea;
    --red: #ff2e63;
    --black: #252a34;
    --blue: #08d9d6;
  }

main{
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    grid-template-rows: repeat(3, minmax(0,1fr));
}

h1{
    font-size: 9rem;
    grid-column: 2 / span 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


